################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bristol Design (prototype alpha)/obj/Debug
/.vs/Bristol Design/v16
/.vs
/Bristol Design (prototype alpha)/bin/Debug
