@page
@model Bristol_Design.Pages.App.IndexModel
@{
}

<svg height="300" class="p-2 m-auto box-shadow">
    <g fill="white" id="projectBoard">
        <rect width="900" height="500" />
    </g>
</svg>

<div class="fixed-bottom bg-white box-shadow border-top d-block pb-3" style="width: inherit">
    <h4 class="d-block mx-auto" style="width: 86px">Toolbox</h4>
    <div class="d-flex justify-content-around" style="width:auto">
        <div draggable="false" class="border-dark toolboxItem" style="width: 100px; height: 50px;">
            <img src="~/Media/textBoxItem.png" />
        </div>
        <div draggable="false" class="border-dark toolboxItem" style="width: 100px; height: 50px;">
            <img src="~/Media/imageItem.png" />
        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    .toolboxItem {
        width: 200px;
        height: 100px;
    }
</style>

<script>
    $(function () {
        $(".toolboxItem").draggable();
    });
</script>