@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Bristol Design</h1>
    <p>A designer specifically made to help design and print beautiful bristol boards</p>
    <a class="btn bg-primary" asp-page="/App/Index">Start Designing</a>
</div>
